body {
    background-color: #ffeedb;
}
body header {
    background-color: #0a1d37;
    width: 10px;
}
header img {
    width: 100px;
}
header nav {
    float: right;
    color: #f7fd04;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    float: right;
    padding: 12px;
    margin: 12px;
    border: red;
    position: sticky;
}

main img {
    width: 100%;
}

main h1 {
    font-size: 40px;
}

main p {
    text-indent: 30px;
    line-height: 1.5;
}


footer {
    text-align: center;
    background-color: black;
    color: white;
}
main section:nth-child(2) ul {
    display: list-item;
    padding: 10px;
    list-style: square;
}
main section:nth-child(3) ol {
    display: list-item;
    padding: 10px;
    margin: 10px;
    border: brown;
}
main section:nth-child(3) h2 {
    font-size: 30px;
    padding: 5px;
}

main section:nth-child(2) h2 {
    font-size: 30px;
    padding: 5px;
    margin: 20px;
}
main section:nth-child(2) ul {
    display: list-item;
    list-style: symbols(-);
}
